In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/ajay/Python Developer.csv")

In [3]:
df_sal=df[["salary estimate"]]

In [4]:
df_sal=df_sal.dropna()

In [5]:
salaries=df_sal["salary estimate"]

In [6]:
salaries=list(salaries)

In [7]:
salaries

['₹16,00,000 /yr (est.)',
 '₹21,50,000 /yr (est.)',
 '₹1,615.38 /hr (est.)',
 '₹1,00,000 /mo (est.)',
 '₹24,000 /mo (est.)',
 '₹3,00,000 /yr (est.)',
 '₹47,500 /mo (est.)',
 '₹17,50,000 /yr (est.)',
 '₹38,138 /mo (est.)',
 '₹7,50,000 /yr (est.)',
 '₹45,000 /mo (est.)',
 '₹27,500 /mo (est.)',
 '₹13,36,825 /yr (est.)',
 '₹21,50,000 /yr (est.)',
 '₹10,50,000 /yr (est.)',
 '₹12,67,095 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹8,00,000 /yr (est.)',
 '₹7,00,000 /yr (est.)',
 '₹20,00,000 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹24,00,000 /yr (est.)',
 '₹15,60,000 /yr (est.)',
 '₹4,75,000 /yr (est.)',
 '₹15,000 /mo (est.)',
 '₹8,07,976 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹11,50,000 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹8,50,000 /yr (est.)',
 '₹17,50,000 /yr (est.)',
 '₹11,50,000 /yr (est.)',
 '₹10,00,000 /yr (est.)',
 '₹8,07,976 /yr (est.)',
 '₹30,00,000 /yr (est.)']

In [8]:
def convert_salary_to_lpa(salary_str):
    salary = salary_str.split()[0]
    if 'mo' in salary_str:
        return round(float(salary.replace(',', '')[1:]) * 12 / 100000, 2)
    elif 'yr' in salary_str:
        return round(float(salary.replace(',', '')[1:]) / 100000, 2)
    elif '/hr' in salary_str:
        return round(float(salary.replace(',', '')[1:]) * 8 * 300 / 100000, 2)  # Assuming 8 hours of work per day and 300 working days per year
    else:
        return None
lpa_salaries = [convert_salary_to_lpa(salary) for salary in salaries]
print(lpa_salaries)

[16.0, 21.5, 38.77, 12.0, 2.88, 3.0, 5.7, 17.5, 4.58, 7.5, 5.4, 3.3, 13.37, 21.5, 10.5, 12.67, 17.5, 8.0, 7.0, 20.0, 17.5, 24.0, 15.6, 4.75, 1.8, 8.08, 17.5, 11.5, 17.5, 17.5, 8.5, 17.5, 11.5, 10.0, 8.08, 30.0]

In [9]:
def convert_salary_to_thousands_per_month(salary_str):
    salary = salary_str.split()[0]
    if 'mo' in salary_str:
        return round(float(salary.replace(',', '')[1:]) / 1000, 2)
    elif 'yr' in salary_str:
        return round(float(salary.replace(',', '')[1:]) / 12000, 2)
    elif '/hr' in salary_str:
        return round(float(salary.replace(',', '')[1:]) * 8 * 300 / 120000, 2)  # Assuming 8 hours of work per day and 300 working days per year
    else:
        return None

salaries_in_thousands_per_month = [convert_salary_to_thousands_per_month(salary) for salary in salaries]
print(salaries_in_thousands_per_month)

[133.33, 179.17, 32.31, 100.0, 24.0, 25.0, 47.5, 145.83, 38.14, 62.5, 45.0, 27.5, 111.4, 179.17, 87.5, 105.59, 145.83, 66.67, 58.33, 166.67, 145.83, 200.0, 130.0, 39.58, 15.0, 67.33, 145.83, 95.83, 145.83, 145.83, 70.83, 145.83, 95.83, 83.33, 67.33, 250.0]

In [10]:
df=df.drop(["salary estimate"],axis=1)

In [11]:
df

,company,job title,location,job description
0,PST.AG\n4.5,Python Developer (Oddo Experience),Remote,We are a growing medium-sized business with he...
1,Clark Technology,Remote Python/Django & React Developer,Remote,We are looking for a skilled and experienced r...
2,Oneplay,Python Developer,Remote,What you’ll work on\nWorking with the Team in ...
3,American Chase LLP,Sr. Python Developer,Remote,Job Title: Senior Python Developer\nLocation: ...
4,Vienna Consultancy Services,Python Developer,Remote,We are looking for a candidate who can support...
...,...,...,...,...
85,DiligenceVault\n3.8,Back-end Engineer,Remote,DiligenceVault is a cloud-based digital dilige...
86,Wiser Solutions\n4.4,Associate Software Engineer - Extraction,Remote,Wiser provides unparalleled consumer insights ...
87,Techolution\n4.4,Senior Python Developer,Remote,Job Description\nTecholution is looking out fo...
88,Leegality\n5.0,Python Developer,Remote,This is a remote position.\nCompany Mission\n\...
89,Marktine Technology Solutions\n4.7,Python Developer,Remote,Job Information\nIndustry\nIT Services\nRemote...

In [12]:
len(df)

90

In [13]:
df=df.dropna()

In [14]:
df

,company,job title,location,job description
0,PST.AG\n4.5,Python Developer (Oddo Experience),Remote,We are a growing medium-sized business with he...
1,Clark Technology,Remote Python/Django & React Developer,Remote,We are looking for a skilled and experienced r...
2,Oneplay,Python Developer,Remote,What you’ll work on\nWorking with the Team in ...
3,American Chase LLP,Sr. Python Developer,Remote,Job Title: Senior Python Developer\nLocation: ...
4,Vienna Consultancy Services,Python Developer,Remote,We are looking for a candidate who can support...
...,...,...,...,...
85,DiligenceVault\n3.8,Back-end Engineer,Remote,DiligenceVault is a cloud-based digital dilige...
86,Wiser Solutions\n4.4,Associate Software Engineer - Extraction,Remote,Wiser provides unparalleled consumer insights ...
87,Techolution\n4.4,Senior Python Developer,Remote,Job Description\nTecholution is looking out fo...
88,Leegality\n5.0,Python Developer,Remote,This is a remote position.\nCompany Mission\n\...
89,Marktine Technology Solutions\n4.7,Python Developer,Remote,Job Information\nIndustry\nIT Services\nRemote...

In [15]:
len(df)

90

In [16]:
df["job description"][5]

"We are looking for a developer who is having minimum 5 years of experience in below technologies:-\nSkills- Pyhton, Teradata, Gcp, Cloud composer/Airflow, Bigquery\nTime- 2 hrs 3 days and 4 hrs 2 days in a week total 14 hrs in a week (monday to friday)\n5 pm ist\nBudget - 24k monthly\nNature of work:- Remote work over zoom\nJob Types: Part-time, Freelance\nContract length: 6 months\nPart-time hours: 14 per week\nSalary: ₹24,000.00 per month\nBenefits:\nWork from home\nSchedule:\nEvening shift\nMonday to Friday\nMorning shift\nUS shift\nSupplemental pay types:\nOvertime pay\nEducation:\nBachelor's (Preferred)\nExperience:\nJava: 5 years (Required)\nGcp: 4 years (Required)\ntotal work: 5 years (Required)\nLicense/Certification:\nPython (Required)\nShow Less\nReport"

In [17]:
print(df)

                               company  \
0                          PST.AG\n4.5
1                     Clark Technology
2                              Oneplay
3                   American Chase LLP
4          Vienna Consultancy Services
..                                 ...
85                 DiligenceVault\n3.8
86                Wiser Solutions\n4.4
87                    Techolution\n4.4
88                      Leegality\n5.0
89  Marktine Technology Solutions\n4.7

                                   job title location  \
0         Python Developer (Oddo Experience)   Remote
1     Remote Python/Django & React Developer   Remote
2                           Python Developer   Remote
3                       Sr. Python Developer   Remote
4                           Python Developer   Remote
..                                       ...      ...
85                         Back-end Engineer   Remote
86  Associate Software Engineer - Extraction   Remote
87                   Senior Python Developer   Remote
88                          Python Developer   Remote
89                          Python Developer   Remote

                                      job description
0   We are a growing medium-sized business with he...
1   We are looking for a skilled and experienced r...
2   What you’ll work on\nWorking with the Team in ...
3   Job Title: Senior Python Developer\nLocation: ...
4   We are looking for a candidate who can support...
..                                                ...
85  DiligenceVault is a cloud-based digital dilige...
86  Wiser provides unparalleled consumer insights ...
87  Job Description\nTecholution is looking out fo...
88  This is a remote position.\nCompany Mission\n\...
89  Job Information\nIndustry\nIT Services\nRemote...

[90 rows x 4 columns]

In [18]:
df["job description"][4]

'We are looking for a candidate who can support us for 8 hours a day over fixed schedules with the below mentioned requirements.\nTitle - Python Developer\nJob Type : Contract\nWork Type: Remote\nContract tenure - 06 months\nWork Days : Monday - Friday.\nTimings: 10:30 am - 07:30 pm IST\nExprience: 4-7 Years\nRequired Qualifications:·\nKnowledge of Python web frameworks and event-driven programming in Python\nBasic understanding of front-end technologies\nHigh attention to detail\nExcellent communication in English and problem-solving skills\nProficient understanding of code versioning tools\nSecurity background or basic 101 type understanding\nGood understanding of server-side templating languages\nStrong unit test and debugging skills\nMachine Learning Skills\nBasic knowledge of front-end technologies, such as HTML5, JavaScript and CSS3\nKnowledge of Open source Main Libraries (OpenCV, PyTorch, Keras, TensorFlow, Caffe, Detectorn2, etc.\nExperience in Object Detection and Recongnition projects\nExperience in Sound / Noise Detection and Recognition projects\nExperience in Mobile Apps development\nJob Types: Contractual / Temporary, Freelance\nContract length: 06 months\nPay: Up to ₹100,000.00 per month\nBenefits:\nWork from home\nSchedule:\nDay shift\nMorning shift\nApplication Deadline: 29/11/2021\nShow Less\nReport'

In [19]:
import re

#text = "We are looking for a full-stack developer with experience in Java, Python, C++, C#, JavaScript, Go, Ruby, PHP, Node.js, React.js, Angular, Vue.js, Django, Laravel, Express, Spring, MySQL, PostgreSQL, MongoDB, Redis, Cassandra, and other SQL and NoSQL databases."
text=df["job description"][9]
# Define regular expressions to match languages, frameworks, and databases
language_regex = re.compile(r"\b(ada|algol|assembly|awk|bash|basic|c(\+\+|#)?|cobol|coffeescript|d|dart|delphi|elixir|elm|erlang|f#|fortran|go|groovy|haskell|html|java|javascript|julia|kotlin|lisp|lua|matlab|objective-c|ocaml|pascal|perl|php|powershell|prolog|python|r|ruby|rust|scala|scheme|scratch|shell|smalltalk|sql|swift|tcl|typescript|vb\.net|visual basic|gin|graphTalk|icon|idl|io|j|jade|jscript|kixtart|labview|leda|livecode|lsl|m2001|maple|max/msp|mercury|mirah|monkey|msil|neko|nemerle|nxc|oberon|opencl|oz|pari/gp|pawn|pike|pure data|rebol|red|verilog|vhdl)\b", re.IGNORECASE)
#language_regex = re.compile(r"\b(assembly|c(\+\+|#)?|clojure|html|html5|css|css3|cobol|dart|delphi|erlang|f#|go|groovy|haskell|java|javascript|julia|kotlin|lisp|lua|matlab|objective-c|pascal|perl|php|python|r|ruby|rust|scala|swift|typescript|verilog|vhdl)\b", re.IGNORECASE)
#framework_regex = re.compile(r"\b(angular|backbone\.js|cakephp|django|flask|svelte|jquery|ember\.js|express|laravel|next\.js|node\.js|react\.js|ruby on rails|spring|vue\.js|yii)\b", re.IGNORECASE)
framework_regex = re.compile(r"\b(angular|backbone\.js|cakephp|cherrypy|cinder|conan|cppcms|django|docker|dropwizard|ember\.js|express|falcon|flask|google cloud platform|google test|grails|h2o\.ai|heroku|hibernate|hug|ibm cloud|apache hadoop|apache spark|apache tapestry|apache wicket|juce|keras|kubernetes|laravel|meteor|mxnet|next\.js|node\.js|nuxt\.js|openframeworks|openstack|poco|play|pyramid|pytorch|qt|react\.js|ruby on rails|sanic|scikit-learn|svelte|spark|spring|struts|tensorflow|theano|tornado|turboGears|vaadin|vue\.js|wxWidgets|yii)\b", re.IGNORECASE)

database_regex = re.compile(r"\b(cassandra|couchbase|couchdb|firebase|mongodb|ms sql|mysql|oracle|postgresql|redis|sqlite)\b", re.IGNORECASE)

# Extract the languages, frameworks, and databases from the text
languages = language_regex.findall(text)
frameworks = framework_regex.findall(text)
databases = database_regex.findall(text)

unique_languages = list(set([lang[0] for lang in languages]))
unique_frameworks = list(set(frameworks))
unique_databases= list(set(databases))

#print(unique_languages)print(unique_frameworks)
#print(unique_databases)
print(unique_databases+unique_frameworks+unique_languages)

['MYsql', 'laravel', 'Django', 'Basic', 'basic', 'Python', 'Javascript']

In [20]:
len(df["job description"])

90

In [21]:
for i in range(len(df["job description"])):
    text=df["job description"][i]
# Define regular expressions to match languages, frameworks, and databases
    language_regex = re.compile(r"\b(ada|algol|assembly|awk|bash|basic|c(\+\+|#)?|cobol|coffeescript|d|dart|delphi|elixir|elm|erlang|f#|fortran|go|groovy|haskell|html|java|javascript|julia|kotlin|lisp|lua|matlab|objective-c|ocaml|pascal|perl|php|powershell|prolog|python|r|ruby|rust|scala|scheme|scratch|shell|smalltalk|sql|swift|tcl|typescript|vb\.net|visual basic|gin|graphTalk|icon|idl|io|j|jade|jscript|kixtart|labview|leda|livecode|lsl|m2001|maple|max/msp|mercury|mirah|monkey|msil|neko|nemerle|nxc|oberon|opencl|oz|pari/gp|pawn|pike|pure data|rebol|red|verilog|vhdl)\b", re.IGNORECASE)
    #language_regex = re.compile(r"\b(assembly|c(\+\+|#)?|clojure|html|html5|css|css3|cobol|dart|delphi|erlang|f#|go|groovy|haskell|java|javascript|julia|kotlin|lisp|lua|matlab|objective-c|pascal|perl|php|python|r|ruby|rust|scala|swift|typescript|verilog|vhdl)\b", re.IGNORECASE)
    #framework_regex = re.compile(r"\b(angular|backbone\.js|cakephp|django|flask|svelte|jquery|ember\.js|express|laravel|next\.js|node\.js|react\.js|ruby on rails|spring|vue\.js|yii)\b", re.IGNORECASE)
    framework_regex = re.compile(r"\b(angular|backbone\.js|cakephp|cherrypy|cinder|conan|cppcms|django|docker|dropwizard|ember\.js|express|falcon|flask|google cloud platform|google test|grails|h2o\.ai|heroku|hibernate|hug|ibm cloud|apache hadoop|apache spark|apache tapestry|apache wicket|juce|keras|kubernetes|laravel|meteor|mxnet|next\.js|node\.js|nuxt\.js|openframeworks|openstack|poco|play|pyramid|pytorch|qt|react\.js|ruby on rails|sanic|scikit-learn|svelte|spark|spring|struts|tensorflow|theano|tornado|turboGears|vaadin|vue\.js|wxWidgets|yii)\b", re.IGNORECASE)

    database_regex = re.compile(r"\b(cassandra|couchbase|couchdb|firebase|mongodb|ms sql|mysql|oracle|postgresql|redis|sqlite)\b", re.IGNORECASE)

    # Extract the languages, frameworks, and databases from the text
    languages = language_regex.findall(text)
    frameworks = framework_regex.findall(text)
    databases = database_regex.findall(text)

    unique_languages = list(set([lang[0] for lang in languages]))
    unique_frameworks = list(set(frameworks))
    unique_databases= list(set(databases))

    #print(unique_languages)print(unique_frameworks)
    #print(unique_databases)
    print(unique_databases+unique_frameworks+unique_languages)

['Python']
['Next.JS', 'Django', 'Python']
['Redis', 'Flask', 'SQL', 'IO', 'Python']
['PostgreSQL', 'MongoDB', 'MySQL', 'Flask', 'Google Cloud Platform', 'Django', 'HTML', 'JavaScript', 'Python']
['PyTorch', 'Keras', 'TensorFlow', 'Basic', 'basic', 'JavaScript', 'Python']
['Java', 'Python']
['SQL', 'Python']
['PostgreSQL', 'MySQL', 'Django', 'HTML', 'Python']
['PostgreSQL', 'MySQL', 'Django', 'Docker', 'docker', 'FLASK', 'HTML', 'SQL', 'Python']
['MYsql', 'laravel', 'Django', 'Basic', 'basic', 'Python', 'Javascript']
['Python']
['MongoDB', 'Laravel', 'Node.js', 'Flask', 'Angular', 'SQL', 'PHP', 'Python']
['basic', 'Python']
['Flask', 'Ember.js', 'HTML', 'Javascript', 'Python']
['MongoDB', 'Flask', 'Django', 'Keras', 'Tensorflow', 'python', 'PYTHON', 'Python']
['Flask', 'Django', 'Pyramid', 'JavaScript', 'Python']
['Django', 'Python', 'R', 'Javascript', 'D', 'Java']
['Flask', 'Django', 'Pyramid', 'JavaScript', 'Python']
['Django', 'Python']
['C', 'Python']
['Flask', 'Django', 'd', 'JavaScript', 'Python']
['MongoDB', 'express', 'Heroku', 'Node.Js', 'Node.js', 'node.js', 'PHP', 'Python', 'SQL', 'JavaScript', 'Go']
['C', 'Java', 'Python']
['Java', 'SQL', 'JavaScript', 'Python']
['MySQL', 'Flask', 'Django', 'SQL', 'Python']
['MySQL', 'Django', 'C', 'python']
['Django', 'Angular', 'Typescript', 'JavaScript', 'Python']
['PHP', 'Python']
['Flask', 'Django', 'Python']
['Redis', 'MongoDB', 'Laravel', 'Node.js', 'Angular', 'go', 'PHP', 'Python', 'HTML', 'SQL', 'GO', 'JavaScript']
['Redis', 'Flask', 'SQL', 'IO', 'Python']
['Flask', 'Django', 'Docker', 'basic', 'Python']
['Node.js', 'Spring', 'Angular', 'Scala', 'Python', 'JAVA', 'JavaScript', 'HTML', 'Java', 'Go']
['Django', 'OpenStack', 'C', 'JavaScript', 'Python']
['Play', 'Struts', 'Hibernate', 'Sql', 'Perl', 'python', 'Shell', 'Java']
['PostgreSQL', 'Django', 'Kubernetes', 'Docker', 'Python']
['basic', 'Java', 'Python']
['basic', 'Python']
['MongoDB', 'MySQL', 'Google Cloud platform', 'go', 'PHP', 'Python', 'Ruby', 'Java']
['Docker', 'C', 'Python']
['MongoDB', 'Node.js', 'Express', 'HTML', 'Javascript', 'Python']
['SQLite', 'MySQL', 'MongoDB', 'React.js', 'Django', 'Python']
['Spark', 'Kubernetes', 'Java', 'SQL', 'Scala', 'Python']
['HTML', 'Java', 'Python']
['play', 'Docker', 'SQL', 'Java', 'Python']
['C', 'python', 'SQL', 'powershell', 'd']
['SQL', 'Python']
['MongoDB', 'Tornado', 'Spark', 'Kubernetes', 'Django', 'Docker', 'SQL', 'Python']
['Oracle', 'SQL', 'python', 'Java']
['Django', 'go', 'Python']
['python']
['SQL', 'Python']
['Spark', 'Shell', 'Python']
['PostgreSQL', 'Redis', 'MongoDB', 'SQL', 'JavaScript', 'Python']
['Django', 'Angular', 'HTML', 'SQL', 'JavaScript', 'Python']
['MySQL', 'shell', 'Python']
['MySQL', 'MongoDB', 'Node.js', 'PHP', 'Python', 'HTML', 'SQL', 'Java']
['PostgreSQL', 'Cassandra', 'Spark', 'Kubernetes', 'spring', 'Spring', 'Docker', 'SQL', 'Java', 'Python']
['MySQL', 'MongoDB', 'Angular', 'Laravel', 'Django', 'Docker', 'Node.js', 'Ruby on Rails', 'Ruby', 'PHP', 'Python', 'JavaScript', 'C', 'HTML', 'Java']
['Redis', 'MongoDB', 'Vue.js', 'Angular', 'Laravel', 'Django', 'Express', 'Node.js', 'Docker', 'SQL', 'PHP', 'Python']
['Redis', 'Flask', 'SQL', 'IO', 'Python']
['Play', 'Struts', 'Hibernate', 'Sql', 'Perl', 'python', 'Shell', 'Java']
['SQL', 'Python']
['PostgreSQL', 'Cassandra', 'Spark', 'Kubernetes', 'spring', 'Spring', 'Docker', 'SQL', 'Java', 'Python']
['PostgreSQL', 'Redis', 'MongoDB', 'SQL', 'JavaScript', 'Python']
['play', 'Docker', 'SQL', 'Java', 'Python']
['MySQL', 'MongoDB', 'Angular', 'Laravel', 'Django', 'Docker', 'Node.js', 'Ruby on Rails', 'Ruby', 'PHP', 'Python', 'JavaScript', 'C', 'HTML', 'Java']
['MongoDB', 'Node.js', 'Express', 'HTML', 'Javascript', 'Python']
['Basic', 'basic', 'Python']
['Django', 'Python']
['play', 'R', 'SQL', 'D', 'Python']
['MySQL', 'Java', 'PHP', 'Python', 'JavaScript', 'HTML', 'SQL', 'Ruby']
['MySQL', 'MongoDB', 'Node.js', 'PHP', 'Python', 'HTML', 'SQL', 'Java']
['Google Cloud Platform', 'Kubernetes', 'Spring', 'Docker', 'JavaScript', 'Java', 'Go', 'Python']
['Django', 'Docker', 'Bash', 'basic', 'Python', 'Perl']
['HTML', 'Java', 'Python']
['Flask', 'express', 'Django', 'SQL', 'Javascript', 'Python']
['Kubernetes', 'Docker', 'PHP', 'Python', 'C', 'Javascript', 'Java']
['Django', 'go', 'Python']
['Django', 'Docker', 'python', 'go', 'Python']
['Redis', 'MongoDB', 'Vue.js', 'Angular', 'Laravel', 'Express', 'Node.js', 'Docker', 'PHP', 'Python', 'Typescript', 'SQL', 'JavaScript']
['scratch', 'SQL', 'Java', 'Python']
['MongoDB', 'MySQL', 'Node.js', 'Angular', 'Java', 'Python', 'C', 'HTML', 'JavaScript', 'd']
['Flask', 'Django', 'docker', 'Angular', 'python', 'Python']
['Oracle', 'Redis', 'MySQL', 'Kubernetes', 'Docker', 'SQL', 'python', 'Java', 'Python']
['Redis', 'vue.js', 'python', 'Python']
['Angular', 'Python', 'C', 'HTML', 'SQL', 'JavaScript']
['PostgreSQL', 'Oracle', 'MS SQL', 'MySQL', 'SQL', 'Python']
['MongoDB', 'MySQL', 'Flask', 'Django', 'basic', 'Python']
['MongoDB', 'Django', 'docker', 'Python', 'SQl', 'SQL', 'python', 'sql']

In [22]:
df["job description"][7]

'Experience : 1 - 4 years\nSkills : OOPS Concept, Python, Django, HTML, CSS\nJob Location : Work From Home\nPrimary Responsibilities Include:\nDesign and develop software for medium and large-scale enterprise services.\nTranslate functional requirements into conceptual and detailed designs.\nDevelop REST API using DRF.\nAssist Operations and Support staff in trouble-shooting software issues, implementing bug fixes.\nAdhere to coding and process best practices.\nRequired Skills and Experience:\n2-5 years of experience in software development using Python Django and Django REST.\nLinux systems experience Strong development and engineering principles, including: code coverage, test-first programming.\nCode readability, documentation, understanding of revision control systems (git).\nExperience with Agile methodologies (Scrum, Kanban, etc.).\nExperience with one or more relational databases (e.g. MySQL, PostgreSQL).\nFamiliarity with continuous integration and continuous deployment concepts.\nShow Less\nReport'

In [23]:
import spacy

2023-04-26 11:06:54.216160: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 11:06:54.410636: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-26 11:06:54.413534: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-26 11:06:55.176129: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
2023-04-26 11:06:57.411888: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:266] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected

In [24]:
#pip install spacy

In [25]:
nlp=spacy.load("en_core_web_sm")

In [26]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [27]:
doc=nlp(df["job description"][0])
#doc=nlp("Hello iam Ajay. Iam Software Engineer who is experienced in python and ML and is currently working in Amazon. Iused to work at PrevalentAi before.")
#doc=nlp("Save me Iam tuck in the floods at London my phone no is 9446581801")
for ent in doc.ents:
    print(ent.text, " ", ent.label_)

Weimar   GPE
Germany   GPE
Scrapy   ORG
Pandas   PERSON
applicationss   PERSON
Fluency   GPE
English   LANGUAGE
Computer Science   FAC
Agile   NORP
At least 3 years   DATE
XPath   ORG
CSS   ORG
JSON   GPE
XML   ORG
Selenium   ORG
Beautiful-Soup   ORG
Pandas   PERSON
Software Company
Employment Type: Full-Time   ORG
40 Hours   TIME
Working Language:   WORK_OF_ART
English   LANGUAGE
Show Less
Report   WORK_OF_ART

In [28]:
df["job description"][12]

'Location: Remote\nExperiance:\n5-10 years\nDescription :\nBuilding fast, responsive web applications is the responsibility of the Python developer we are looking for. In order to create the back-end components, incorporate the front-end components into the application, and control the data exchange between the server and the users, the ideal candidate should be very skilled at writing clean, testable, and scalable code. The developer should cooperate with front-end developers and have a basic understanding of front-end technologies.\nCreate and implement applications with low latency, high availability, and high performance.\nCreate scalable, testable, reusable, and efficient code.\nWork with front-end developers to combine user-facing components with server-side logic.\nIntegrate data to create insights that will help you make decisions more quickly and effectively.\nupdating current databases to increase functionality\nOrganize and produce tools, strategies, and data pipeline documentation.\nShow Less\nReport'